*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
}

.cal__entry {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.cal__titleInput {
  flex: 50%;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
}

.cal__datePicker {
  padding: 10px;
  border: none;
  align-items: center;
}

.cal__btn {
  justify-content: center;
  padding: 10px 30px;
  cursor: pointer;
}